<div>
  <%= flash[:notice] %>
</div>

<% if @book_new.errors.any? %>
  <%= @book_new.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book_new.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'list', book: @book_new,user:@user%>

<h1>Books</h1>
<table class"table table-hover table-inverse">
<thead>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
</thead>
<tbody>
<% @books.each do |book| %>   
 <tr>
  <td><%= image_tag book.user.get_profile_image(100,100) %></td>
  <td><%= link_to book.title ,book_path(book.id)%></td>
  <td><%= book.body %></td>
 </tr>
<% end %>
</tbody>
</table>